* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: large;
}

@font-face {
  font-family: Gilroy;
  src: url(./fonts/Gilroy-Light.otf);
}

@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins-Regular.ttf);
}
